<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyxy.kst.cax.student.dao.ExamPaperDao">
    <select id="getFixedExamPaper" resultType="com.xyxy.kst.cax.entity.ExamPaper">
        select *
        from xzs.t_exam_paper
        where (deleted = 0 and paper_type = 1 and grade_level = #{level})
          and (create_user = 'admin' or create_user = #{userName})
    </select>

    <select id="selectTimeLimitPaper" resultType="com.xyxy.kst.cax.entity.ExamPaper">
        select *
        from xzs.t_exam_paper
        where (deleted = 0 and paper_type = 4 and grade_level = #{level})
          and (create_user = 'admin' or create_user = #{userName})
    </select>
</mapper>