<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyxy.kst.cax.dao.TaskExamDao">
    <select id="selectTaskExamPage" resultType="com.xyxy.kst.cax.entity.TaskExam">
        select *
        from xzs.t_task_exam
        <where>
            deleted = 0
            <if test="taskExamVM.gradeLevel != null">
                and grade_level = #{taskExamVM.gradeLevel}
            </if>
        </where>
    </select>
</mapper>